/* Stick text box to bottom of screen */
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: antiquewhite;
    cursor: none;
}
#text-box {
    grid-row-start: 2;
    grid-row-end: 3;
}
/* End of sticking text box to bottom of screen */

/* Margin for page when viewed on a screen with a width of at least 1080 pixels */
@media only screen and (min-width: 1080px) {
    body {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}
/* End of margin for page when viewed on a screen with a width of at least 1080 pixels */

/* Center main content */
#display-content {
    /* The line below part does not seem to be needed for centering content but leaving
    it in seems to push avatar below text box */
    /* position: relative; */ 
}
#avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* End center main content */

/* Animate avatar fading in */
#avatar {
    animation: pulse 5s;
}
@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End animate avatar fading in */

/* Set minimum height for text box so it does not have an expanding effect */
.nes-container.is-rounded.is-dark.with-title {
    min-height: 175px;
}
/* End set minimum height for text box so it does not have an expanding effect */


/* Blinking effect for arrow */
.blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 2s linear infinite condemned_blink_effect;
}
/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect { 
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
/* End blinking effect for arrow */

/* Place arrow at bottom right of text box */
#down-arrow {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
/* End place arrow at bottom right of text box */