/* Change background color to be a gradient on browsers that support it */
html {
    background: rgb(240,63,63);
    background: linear-gradient(0deg, rgba(240,63,63,0.14874141876430202) 0%, rgba(198,91,14,0.15102974828375282) 49%, rgba(255,199,0,0.06407322654462244) 100%);
    background-attachment: fixed;
}
@media (max-height: 699px), (max-width: 500px) {
    html {
        background: rgb(240,63,63);
        background: radial-gradient(circle, rgba(240,63,63,0.14874141876430202) 0%, rgba(198,91,14,0.15102974828375282) 49%, rgba(255,199,0,0.06407322654462244) 100%)!important;
    }
}

/* Remove the default border on filter options */
.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 1px solid #9fa09f;
}

/* Set background color of whole page  */
html {
    height: 100%;
    background-color: #e3e3e34d;
    
}

/* Make font size smaller on small screens */
@media (max-width: 320px) {
    .uk-card-footer {
        font-size: 13px;
    }
}
@media (max-width: 1400px) {
    .project-links {
        font-size: 12px;
    } 
}

.rounded-border {
    border-radius: 6px;
}

/* Make active filter option text color to white to contract blue background */
.uk-active > .uk-text-emphasis {
    color: white!important;
}

/* Add padding to top of anchors and then offset the same amount with margin-top
so we scroll to the correct location taking the navbar into account */
.anchor-links {
    padding-top: 80px; 
    margin-top: -80px;
}

.second-level-accordion {
    font-size: 18px;
    margin-left: 10px;
}

.second-level-content {
    margin-left: 10px;
}

.darker-hr {
    border-top: 1px solid #9fa09f;
}

/* Fade sentences in  */
.fade-first-sentence {
    -webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
    animation-delay: .2s;
    opacity: 0;
}
.fade-second-sentence {
    -webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}
.fade-third-sentence {
    -webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
    animation-delay: 4.5s;
    opacity: 0;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* End fade sentences in  */

@media (max-width: 1199px) {
    .commit-details {
        margin-top: 30px;
    }
}

/* Normalize H1 tag */
.h1-unstyle {
    margin-bottom: 0px;
}
/* End normalize H1 tag */

/* Slow down animation of button hover to match project hover */
.uk-subnav>*>:first-child { 
    transition: 0.3s ease-in-out;
}
/* End Slow down animation of button hover to match project hover */

/* Add black border */
.black-border {
    border: black;
}
/* End add black border */

/* Style send message button with border color and transition */
#send-message-button:hover {
    border: 1px solid #e5e5e5;
    transition: .3s;
}
#send-message-button {
    transition: .3s;
}
/* End Style send message button with border color and transition */

/* Classes we'll use with Javascript to animate popout effect */
.waiting-for-popout {
    transform: scale(1);
    -webkit-transform: scale(1)!important;
    transition: 0.3s;
}
.popout {
    transform: scale(1.1)!important;
    -webkit-transform: scale(1.1)!important;
    transition: 0.3s;
}
/* End classes we'll use with Javascript to animate popout effect */

/* Reset project details styles */
.project-details-header {
    border-bottom: none;
}
.project-details-footer {
    border-top: none;
}
/* End reset project details styles */

/* Remove logo padding-left */
.uk-logo {
    padding-left: 0px;
}
/* End remove logo padding-left */

/* On smaller screens, use smaller margins */
@media (max-width: 1199px) {
    .center-main-content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .uk-navbar-left {
        margin-left: 5%;
    }

    .uk-navbar-right {
        margin-right: 5%;
    }
}
/* End on smaller screens, use smaller margins */

/* On larger screens, center content */
@media (min-width: 1200px) {
    .center-main-content {
        margin-left: 18%;
        margin-right: 18%;
    }

    .uk-navbar-left {
        margin-left: 18%;
    }

    .uk-navbar-right {
        margin-right: 18%;
    }
}
/* End on larger screens, center content */

/* Add padding below contact message at bottom of page  */
.padding-bottom-30 {
    padding-bottom: 30px;
}
/* End add padding below contact message at bottom of page  */

/* Set minimum vertical height for message box */
#contact-message {
    min-height: 35px;
}
/* End set minimum vertical height for message box */
