/* Remove the default border on filter options */
.uk-grid-divider>:not(.uk-first-column)::before {
    border-left: 1px solid #9fa09f;
}

/* Remove the default border around images in the card */
.uk-button-default {
    background-color: transparent;
    color: #333;
    border: 0px solid #e5e5e5;
}

/* Set background color of whole page  */
html {
    height: 100%;
    background-color: #e3e3e34d;
    
}

/* Make font size smaller on small screens */
@media (max-width: 320px) {
    .uk-card-footer {
        font-size: 13px;
    }
}

@media (max-width: 1400px) {
    .project-links {
        font-size: 11px;
    } 
}

.rounded-border {
    border-radius: 6px;
}

.about-me {
    margin-bottom: 25px;
}

.uk-active > a {
    color: white!important;
}